Repository cosmoscout/cosmoscout-vr, pull requests merged in 2021-01, with the labels that each got.

#225 Start supporting unity builds and pch in CosmoScout itself.
  .github/workflows/build.yml
  docs/install.md
  make.bat
  make.sh
  make_externals.bat
  make_externals.sh
  plugins/csp-lod-bodies/CMakeLists.txt
  plugins/csp-lod-bodies/src/precompiled.pch
  plugins/csp-measurement-tools/CMakeLists.txt
  plugins/csp-measurement-tools/src/precompiled.pch
  plugins/csp-trajectories/CMakeLists.txt
  plugins/csp-trajectories/src/precompiled.pch
  src/CMakeLists.txt
  src/cosmoscout/CMakeLists.txt
  src/cosmoscout/precompiled.pch
  src/cs-core/CMakeLists.txt
  src/cs-core/precompiled.pch
  src/cs-graphics/CMakeLists.txt
  src/cs-graphics/TextureLoader.cpp
  src/cs-graphics/precompiled.pch
  src/cs-gui/CMakeLists.txt
  src/cs-gui/ScreenSpaceGuiArea.cpp
  src/cs-gui/ScreenSpaceGuiArea.hpp
  src/cs-gui/WorldSpaceGuiArea.cpp
  src/cs-gui/WorldSpaceGuiArea.hpp
  src/cs-gui/precompiled.pch
  src/cs-scene/CMakeLists.txt
  src/cs-scene/precompiled.pch
  src/cs-utils/CMakeLists.txt
  src/cs-utils/Downloader.cpp
  src/cs-utils/precompiled.pch
  src/cs-utils/utils.cpp
Labels: csp-lod-bodies, csp-measurement-tools, csp-trajectories, enhancement

#229 Fix inverted light shaft condition
  plugins/csp-atmospheres/src/Plugin.cpp
Labels: bug, csp-atmospheres

#231 Fix luminance calculation for the Sun
  plugins/csp-simple-bodies/src/SimpleBody.cpp
  src/cs-core/SolarSystem.cpp
Labels: bug

#232 Fix energy conservation in shading
  plugins/csp-atmospheres/src/Shaders.cpp
  plugins/csp-lod-bodies/shaders/Planet.frag
  plugins/csp-rings/src/Ring.cpp
  plugins/csp-rings/src/Ring.hpp
  plugins/csp-simple-bodies/src/SimpleBody.cpp
Labels: bug, csp-atmospheres, csp-lod-bodies, csp-rings, csp-simple-bodies
